* {
  font-family: "Glory", sans-serif !important;
}

html {
  height: 100%;
  min-height: fit-content;
  min-width: calc(1200px + 100px);
  margin: 0;
}
body {
  height: calc(100% - 82px);
  min-height: 682px;
  min-width: fit-content;
  margin: 0;
}

.hero {
  height: 100%;
  padding-top: 80px;
  background: linear-gradient(rgb(100, 211, 175), rgb(211, 200, 100));
}

#grid {
  height: 600px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: repeat(auto-fill, 20px);
  box-shadow: 10px 15px 20px rgb(35, 77, 63);
}

/* .once {
  background: no-repeat url("images/dot.png");
  background-size: 4px 4px;
  background-position-x: 1px;
  background-position-y: 1px;
} */

.twice {
  /* background: no-repeat url("images/dot.png"), no-repeat url("images/dot.png"); */
  filter: brightness(80%);
  /* background-size: 4px 4px;
  background-position-x: 1px, 13px;
  background-position-y: 1px, 1px; */
}
.thrice {
  /* background: no-repeat url("images/dot.png"), no-repeat url("images/dot.png"),
    no-repeat url("images/dot.png"); */
  filter: brightness(60%);
  /* background-size: 4px 4px;
  background-position-x: 1px, 13px, 1px;
  background-position-y: 1px, 1px, 13px; */
}

.quadrice {
  /* background: no-repeat url("images/dot.png"), no-repeat url("images/dot.png"),
    no-repeat url("images/dot.png"), no-repeat url("images/dot.png"); */
  filter: brightness(40%);
  /* background-size: 4px 4px;
  background-position-x: 1px, 13px, 1px, 13px;
  background-position-y: 1px, 1px, 13px, 13px; */
}

.node {
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.6s ease-out;
}

.explanation {
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
}

.wall {
  background-color: black;
}

.weighted {
  background: no-repeat url("images/weight.png") rgb(151, 180, 98);
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
  animation-name: weights;
  animation-duration: 0.6s;
}

.visited {
  background-color: rgb(151, 180, 98);
}
.shortest {
  background-color: rgb(200, 214, 0);
}

@keyframes weights {
  from {
    background-position-y: -20px;
  }
  to {
    background-position-y: center;
  }
}

/* .node.weighted.visited {
  background-color: rgba(255, 255, 255, 0.199);
} */

.weighted.visited.shortest {
  background-color: rgb(228, 236, 110);
}

.startnode {
  background: no-repeat url("images/start-point.png") green;
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
}
.endnode {
  background: no-repeat url("images/finish-flag.png") red;
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
}

.waypoint.one {
  background: no-repeat url("images/one.png") rgb(235, 113, 0);
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
}

.waypoint.two {
  background: no-repeat url("images/two.png") rgb(235, 113, 0);
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
}

.waypoint.three {
  background: no-repeat url("images/three.png") rgb(235, 113, 0);
  background-size: 16px 16px;
  background-position-x: center;
  background-position-y: center;
}

.header {
  height: 80px;
  width: 100%;
  background-color: rgb(100, 211, 175);
  border-bottom: 2px solid rgb(35, 77, 63);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.header-btn {
  height: 40px;
  min-width: 80px;
  align-items: center;
  background: rgba(35, 77, 63, 0.5);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  padding: 0 10px;
}
.header-btn:hover {
  background: rgba(35, 77, 63, 0.8);
}

.header-btn > a {
  text-decoration: none;
}

.explanations {
  width: fit-content;
  height: 25px;
  position: relative;
  top: -50px;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.explanation {
  animation: none;
  cursor: default;
}
.explanation.dropdown {
  cursor: pointer;
  margin-right: 8px;
}

label {
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  left: -15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(68, 144, 119, 255);
  min-width: 90px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 0px 10px 10px 10px;
  z-index: 1;
}

.dropdown-box:hover #dropdown-btn {
  border-radius: 8px 8px 0px 0px;
  height: 48px;
  transform: translate(0, 4px);
  padding-bottom: 8px;
}

.dropdown-box:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-select {
  width: 90px;
  height: 100%;
  margin: 0px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-select::before {
  content: "";
  background: rgb(100, 211, 175);
  position: absolute;
  margin-top: -13px;
  left: 10px;
  right: 10px;
  height: 1px;
  width: 80%;
}
.dropdown-select.reset::before {
  margin-top: -40px;
}
.dropdown-select.reset {
  width: 110px;
  height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-select.reset > span {
  position: absolute;
  right: 0;
  margin: 0 15px;
}

.dropdown-select:first-child {
  border-radius: 0px 10px 0px 0px;
}
.dropdown-select:first-child::before {
  background: transparent;
}

.dropdown-select:last-child {
  border-radius: 0px 0px 10px 10px;
}

.dropdown-select:hover {
  background: rgb(53, 109, 90);
}

.popup-instructions {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.popup-content {
  background: linear-gradient(rgb(100, 211, 175), rgb(211, 200, 100));
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  min-height: 300px;
  min-width: 20%;
}

.close {
  position: relative;
  top: -20px;
  color: #aaa;
  float: right;
  font-size: 41px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#instruction-img {
  float: right;
  margin-left: 5%;
}

#slider-btn {
  width: 110px;
}

#slider-btn:hover {
  cursor: default;
  background-color: rgba(35, 77, 63, 0.5);
}

#weightLabel {
  text-decoration: none;
  position: relative;
  font-weight: normal;
  left: 8%;
  right: auto;
}

#WeightRange {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border: 1px solid rgb(35, 77, 63);
  border-radius: 2px;
  background: rgba(35, 77, 63, 0.3);
}

#WeightRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: no-repeat url("images/weight.png") transparent;
  background-size: 14px 14px;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
}
